name: Deploy

on:
    push:
        branches:
            - master
    # Allows you to run this workflow manually from the Actions tab
    workflow_dispatch:

permissions:
    contents: read
    id-token: write

jobs:
    # Build job
    build:
        environment: CI
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-node@v4
              with:
                  node-version: 22
            - run: npm ci
            - run: npm run build
            - name: Deploy bookstore to S3 production
              uses: jakejarvis/s3-sync-action@v0.5.1
              with:
                  args: --acl public-read --follow-symlinks
              env:
                  AWS_S3_BUCKET: testplane-bookstore
                  AWS_ACCESS_KEY_ID: ${{ secrets.S3_PRODUCTION_ACCESS_KEY_ID }}
                  AWS_SECRET_ACCESS_KEY: ${{ secrets.S3_PRODUCTION_SECRET_ACCESS_KEY }}
                  AWS_S3_ENDPOINT: https://s3.yandexcloud.net/
                  SOURCE_DIR: "dist"
